@{
  ViewData["Title"] = "Secret";
}

<h1>Secret</h1>

<div>@User.Identity.Name</div>
<div>
  <ul>
    @foreach (var claim in @User.Claims.ToList())
    {
      <li>@claim.Type - @claim.Value</li>
    }
  </ul>
</div>

<div>
  @if (User.IsInRole("admin"))
  {
    @("admin")
  }
</div>

<div>
  @if (User.IsInRole("user"))
  {
    @("user")
  }
</div>

<div>
  @if (User.IsInRole("source"))
  {
    @("source")
  }
</div>


